.clothes
{
  border: 2px solid lightgray;
  background-color: white;
  width: 40%;
  height: 320px;
}

.clothes_img
{
  float: left;
  line-height: 320px;
  margin-right: 100px;
}

.clothes_des
{
  float: left;
  margin-top: 60px;
}

.product_name
{
  font-size: 30px;
  color: rgb(120, 5, 5);
}

